    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">Netflex</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active"><a href="">Home</a></li>
                    <li class="menu-list-item"><a href="">Movie</a></li>
                    <li class="menu-list-item"><a href="">Series</a></li>
                    <li class="menu-list-item"><a href="">Popular</a></li>
                    <li class="menu-list-item"><a href="">Trend</a></li>

                </ul>
            </div>
            <div class="search-container">
                <input type="text" class="searchTerm" name="search" placeholder="Search movie">
                <button type="submit" class="searchButton">
                  <i class="fa fa-search"></i>
               </button>
             </div>
            <div class="profile-container">
                <img class="profile-picture" src="img/profile.jpg" alt="">
                <div class="profile-text-container">
                    <button class="profile-text">Profile <i class="fas fa-caret-down"></i></button>
                    <div class="profile-dropdown dropdown-active">
                        <ul>
                            <li><a href="">Thông tin</a></li>
                            <li><a href="login">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>